# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
.env/

# =========================
# Dataset (very large)
# =========================
data/

# =========================
# Training outputs
# =========================
outputs/
*.png
*.jpg
*.jpeg

# =========================
# Model weights
# =========================
*.pth
*.pt

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# macOS system files
# =========================
.DS_Store

# =========================
# Temporary files
# =========================
tempCodeRunnerFile.python
*.tmp
*.swp